
.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 5px;
    border: 1px solid grey;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}
.selectedPage {
	font-weight: bold;
	color: gold;
	padding: 3px;
}
.paginator button {
	cursor: pointer;
}
.paginator span {
	cursor: pointer;
}