.App { 
  width: 0 auto;
  display: grid;

 grid-template-areas:
"h h"
"n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.App-wrapper {
    background-color: rgb(82, 122, 42);
    grid-area: c;
}

.App-wrapper img {
  width: 1000px;
  }


