.App { 
  width: 0 auto;
  display: grid;

 grid-template-areas:
"h h"
"n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.App-wrapper {
  background: rgb(2,0,36);
  background: linear-gradient(324deg, rgba(2,0,36,1) 0%, rgba(54,69,24,1) 37%, rgba(0,212,255,1) 88%);
  grid-area: c;
}

.App-wrapper img {
  width: 1000px;
  }


