.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: rgb(24, 9, 9);
}
.dialog a {
    text-decoration: none;
}